{% extends 'layouts/base.html' %}

{% block title %} Session Expired {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: center;
        background-color: #f4f4f9;
    }
    .container {
        border: 1px solid #ddd;
        padding: 20px;
        background-color: white;
        border-radius: 5px;
    }
    .button {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .button:hover {
        background-color: #0056b3;
    }
</style>
{% endblock stylesheets %}

{% block body_class %} session-expired {% endblock body_class %}

{% block content %}
    <div class="container">
        <h2>Your session has expired. All your data has been deleted</h2>
        <p>Please click the button below to go back to the landing page.</p>
        <a href="{{ url_for('home') }}">
            <button class="button">Go to Landing Page</button>
        </a>
    </div>
{% endblock %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
  <script src="/static/assets/js/soft-design-system.min.js?v=1.0.1" type="text/javascript"></script>
{% endblock javascripts %}