{% extends 'layouts/base.html' %}

{% block title %} Forms {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} forms-sections {% endblock body_class %}

{% block content %}
    
    {% include "includes/navigation.html" %}

    <!-- -------- START HEADER 1 w/ text and image on right ------- -->
    <header>
        <div class="page-header section-height-100">
            <div class="oblique position-absolute top-0 h-100 d-md-block d-none">
                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image: url('{{ url_for('static', filename='assets/img/bikemap.png') }}');"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7 d-flex justify-content-center flex-column">   
                        <!-- <h1 class="text-gradient text-primary">Bikepacking Map</h1> -->
                        <h1 class="mb-4">Build an interactive map of your multi-day bikepacking trip</h1>
                        <p class="lead pe-5 me-5">Based on your tracking data, create one single map of you bikepacking trip with all your stages, profiles, stats. Just like the overview map of the tour de france!    
                            </p>
                        <div class="buttons">
                            <a href="/static/page-what.html">
                                <button type="submit" class="btn bg-gradient-primary mt-4">What is bikepacking map? </button>
                            </a> 
                            <br>
                            <a href="{{ url_for('display_examples') }}">
                                <button type="button" class="btn bg-gradient-primary mt-4">Try it out using example data</button>
                            </a>
                            <br>
                            <a href="{{ url_for('strava_auth') }}">
                                <button type="submit" class="btn bg-gradient-primary mt-4">Connect to Strava and build your own map </button>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- -------- END HEADER 1 w/ text and image on right ------- -->

{% endblock %}