{% extends 'layouts/base.html' %}

{% block title %} Contact US {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
  .content-wrapper {
      padding-top: 70px; /* Adjust this value based on the height of your navbar */
  }
  h3 {
      font-size: 1.75rem; /* Adjust this value as needed */
  }
  h4 {
      font-size: 1.25rem; /* Adjust this value as needed */
  }
</style>
{% endblock stylesheets %}

{% block body_class %} contact-us {% endblock body_class %}

{% block content %}

  {% include "includes/navigation.html" %}

  <header>
    <div class="page-header section-height-85">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 d-flex justify-content-center flex-column">
            <div class="card d-flex blur justify-content-center p-4 shadow-lg my-4">
              <div class="text-center">
                <h3 class="text-gradient text-primary">Terms and Conditions</h3>
                <p class="mb-0">
                  Please read these terms and conditions carefully before using our website.
                </p>
              </div>
              <div class="card-body pb-2">
                <h4>1. Introduction</h4>
                <p>Welcome to our website. By accessing or using our website, you agree to be bound by these terms and conditions.</p>
                
                <h4>2. Intellectual Property Rights</h4>
                <p>Other than the content you own, under these terms, we own all the intellectual property rights and materials contained in this website.</p>
                
                <h4>3. Restrictions</h4>
                <p>You are specifically restricted from all of the following:</p>
                <ul>
                  <li>Publishing any website material in any other media</li>
                  <li>Selling, sublicensing, and/or otherwise commercializing any website material</li>
                  <li>Publicly performing and/or showing any website material</li>
                  <li>Using this website in any way that is or may be damaging to this website</li>
                  <li>Using this website in any way that impacts user access to this website</li>
                  <li>Using this website contrary to applicable laws and regulations</li>
                  <li>Engaging in any data mining, data harvesting, data extracting, or any other similar activity in relation to this website</li>
                  <li>Using this website to engage in any advertising or marketing</li>
                </ul>
                
                <h4>4. Your Content</h4>
                <p>In these terms and conditions, "Your Content" shall mean any audio, video text, images, or other material you choose to display on this website. By displaying Your Content, you grant us a non-exclusive, worldwide irrevocable, sub-licensable license to use, reproduce, adapt, publish, translate, and distribute it in any and all media.</p>
                
                <h4>5. No Warranties</h4>
                <p>This website is provided "as is," with all faults, and we express no representations or warranties of any kind related to this website or the materials contained on this website.</p>
                
                <h4>6. Limitation of Liability</h4>
                <p>In no event shall we, nor any of our officers, directors, and employees, be held liable for anything arising out of or in any way connected with your use of this website.</p>
                
                <h4>7. Indemnification</h4>
                <p>You hereby indemnify to the fullest extent us from and against any and/or all liabilities, costs, demands, causes of action, damages, and expenses arising in any way related to your breach of any of the provisions of these terms.</p>
                
                <h4>8. Severability</h4>
                <p>If any provision of these terms is found to be invalid under any applicable law, such provisions shall be deleted without affecting the remaining provisions herein.</p>
                
                <h4>9. Variation of Terms</h4>
                <p>We are permitted to revise these terms at any time as we see fit, and by using this website you are expected to review these terms on a regular basis.</p>
                
                <h4>10. Assignment</h4>
                <p>We are allowed to assign, transfer, and subcontract our rights and/or obligations under these terms without any notification. However, you are not allowed to assign, transfer, or subcontract any of your rights and/or obligations under these terms.</p>
                
                <h4>11. Entire Agreement</h4>
                <p>These terms constitute the entire agreement between us and you in relation to your use of this website and supersede all prior agreements and understandings.</p>
                
                <h4>12. Governing Law & Jurisdiction</h4>
                <p>These terms will be governed by and interpreted in accordance with the laws of the State of Baden-Würtemmberg, Germany, and you submit to the non-exclusive jurisdiction of the state and federal courts located in Baden-Würtemmberg, Germany for the resolution of any disputes.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/js/soft-design-system.min.js?v=1.0.1" type="text/javascript"></script>
{% endblock javascripts %}