.spaced-image {
    max-width: 100%;
    width: auto;
    height: auto;
    margin-bottom: 20px; /* Adjust the margin as needed */
    border: 1px solid #ddd; /* Soft border */
    border-radius: 10px; /* Rounded corners */
    
}