<div class="container position-sticky z-index-sticky top-0">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-custom navbar-expand-lg  blur blur-rounded top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
        <div class="container-fluid">
          <a class="navbar-brand font-weight-bolder ms-sm-3" href="/" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom">
            Bikepacking Map
        </a>
        <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </span>
        </button>
        <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0" id="navigation">
            <ul class="navbar-nav navbar-nav-hover ms-lg-12 ps-lg-5 w-100">
                <!-- Get Started Dropdown -->
                <li class="nav-item dropdown dropdown-hover mx-2">
                <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" id="dropdownMenuGetStarted" data-bs-toggle="dropdown" aria-expanded="false">
                    Get Started
                    <img src="/static/assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
                </a>
                <div class="dropdown-menu dropdown-menu-animation dropdown-md p-3 border-radius-lg mt-0 mt-lg-3" aria-labelledby="dropdownMenuGetStarted">
                    <div class="d-none d-lg-block">
                      <a href="/static/page-about-us.html" class="dropdown-item border-radius-md">
                        What is Bikepacking Map?
                    </a>
                    <a href="/static/page-contact-us.html" class="dropdown-item border-radius-md">
                        How to build a map?
                    </a>
                    <a href="/static/page-author.html" class="dropdown-item border-radius-md">
                      How to customize a map?
                    </a>
                    <a href="/static/page-author.html" class="dropdown-item border-radius-md">
                      How to export your maps?
                    </a>
                    <a href="/static/page-author.html" class="dropdown-item border-radius-md">
                      How to connect to strava?
                    </a>
                    </div>
                </div>
            </li>
            <!-- Build Dropdown -->
                <li class="nav-item dropdown dropdown-hover mx-2">
                    <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" id="dropdownMenuBuild" data-bs-toggle="dropdown" aria-expanded="false">
                        Build
                        <img src="/static/assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
                    </a>
                    <div class="dropdown-menu dropdown-menu-animation dropdown-md p-3 border-radius-lg mt-0 mt-lg-3" aria-labelledby="dropdownMenuBuild">
                        <div class="d-none d-lg-block">
                            <a href="/display_examples" class="dropdown-item border-radius-md">
                                Using example data
                            </a>
                            <a href="/strava_auth" class="dropdown-item border-radius-md">
                                Connect to Strava
                            </a>
                        </div>
                    </div>
                </li>
                <!-- Help Dropdown -->
                <li class="nav-item dropdown dropdown-hover mx-2">
                    <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" id="dropdownMenuHelp" data-bs-toggle="dropdown" aria-expanded="false">
                        Ressources
                        <img src="/static/assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
                    </a>
                    <div class="dropdown-menu dropdown-menu-animation dropdown-md p-3 border-radius-lg mt-0 mt-lg-3" aria-labelledby="dropdownMenuHelp">
                        <div class="d-none d-lg-block">

                          <a href="/static/page-author.html" class="dropdown-item border-radius-md">
                            About the Author
                          </a>
                          <a href="https://github.com/lukasal/mappack" class="dropdown-item border-radius-md">
                                Github
                            </a>
                            <a href="https://github.com/lukasal/mappack/issues" class="dropdown-item border-radius-md">
                                Issue Tracker
                            </a>
                            <a href="/static/page-contact.html" class="dropdown-item border-radius-md">
                              Contact
                          </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
      </nav>
      <!-- End Navbar -->
    </div>
  </div>
</div>